
.open-sans-new {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .bg-color{
    background-color: #FFF8F3;
  }
  .shered-style{
    color: #FD6E0A;
  }
  .dark-2{
    color: #474747;
  }
  .btn-style{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
  }
  .section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
  }
  .section-description{
    font-size: 18px;
    color: #757575;
  }
  .header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
  }
  .nav-taitle{
    font-size: 45px;
    font-weight: bold;
  }
  nav ul li {
    list-style: none;
    margin-right: 50px;
  }
  nav ul li a{
    text-decoration: none;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  .btn-style-2{
    border: 2px solid #FD6E0A;
    background-color: transparent;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
  }
  /* banner style */
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
  }
  .banner-box{
    width: 580px;
  }
  .banner-greeting{
    font-size: 45px;
    font-weight: 600;
  }
  .banner-title{
    font-size: 45px;
    font-weight: bold;
  }
  .banner-pic{
    width: 580px;
  }
  /* main style */
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  /* about style */
  .about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
  }
  .about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .item-description{
    font-weight: bold;
  }
  .tex-center{
    text-align: center;
  }
  .card-body{
    display: flex;
    gap:24px
  }
  .card{ 
    padding: 30px;
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 6px 50px 0 #96949479;
  }

  main>section{
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .skil-title{
    margin-bottom: 90px;
  }
  .resume-container{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
  }
  .resumi-description{
    color: #757575;
    font-size: 18px;
  }
  .resume-hed{
    font-size: 25px;
  }
  .resume-sub-hed{
    font-size: 15px;
  }
  .btn-part{
    text-align: center;
    margin-bottom: 70px;
  }
  footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
  }
  .footre-colums{
    width: 50%;
  }
  footer input[type="text"]{
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 24px;
    border: none;
    
  }
  footer input[type="email"]{
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 24px;
    border: none;
    
  }
  footer textarea{
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    padding-left: 25px;
    padding-top: 25px;
    font-size: 18px;
    margin-bottom: 24px;
    border: none;
  }
  
